body {
    margin: 50px;
    font-family: Andale Mono;
}

h1 { 
    border-bottom: double;
    border-color: pink;
    padding: 0px 0px 20px 0px;
}

h3 { 
    font-size: 25px;
    color: navy;
}

p {
    padding: 5px 10px 5px 20px;
}

img {
    border: double;
    border-color: green;
    background-color: whitesmoke;
    padding: 10px;
}